/* --------------- Site title ---------------- */
.site-title{
  height: 110vh;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.site-title .site-background{
  padding-top: 12rem;
  text-align: center;
  color: var(--white);
}

.site-title h1, h3{
  margin: .5rem;
}

.site-title h1 {
  font-size: 3.5rem;
}

.site-title h3 {
  font-size: 2.3rem;
}

.site-title .btn{
  margin: 1.8rem;
  background: var(--sky);
}

.site-title .btn:hover{
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

/* --------x------ Site title --------x------- */
