<div class="bg-image">
  <div class="container right-panel-active">
    <div class="container__form container--login">
      <!-- Log In Form-->
      <form action="#" class="form" id="form2" [formGroup]="loginForm" (ngSubmit)="handleLogin(loginForm)">
        <h2 class="form__title">Log In</h2>
        <input
          type="text"
          placeholder="Username"
          class="input"
          formControlName="taiKhoan"
        />
        <!-- validate username -->
        <div
          *ngIf="
            loginForm.get('taiKhoan').invalid &&
            (loginForm.get('taiKhoan').touched ||
              loginForm.get('taiKhoan').dirty)
          "
        >
          <span class="error" *ngIf="loginForm.get('taiKhoan').errors.required"
            >*Please enter your username</span
          >
          <span
            class="error"
            *ngIf="
              loginForm.get('taiKhoan').errors.minlength ||
              loginForm.get('taiKhoan').errors.maxlength
            "
            >*Your username must be between 5 and 20 characters.</span
          >
        </div>
        <input
          type="password"
          placeholder="Password"
          class="input"
          formControlName="matKhau"
        />
        <!-- validate password -->
        <div
          *ngIf="
            loginForm.get('matKhau').invalid &&
            (loginForm.get('matKhau').touched ||
              loginForm.get('matKhau').dirty)
          "
        >
          <span class="error" *ngIf="loginForm.get('matKhau').errors.required"
            >*Please enter your password</span
          >
          <span class="error" *ngIf="loginForm.get('matKhau').errors.minlength"
            >*Your password must be at least 4 characters.</span
          >
        </div>
        <a routerLink="/" class="link">&larr; Back to home</a>
        <button class="btn" [disabled]="loginForm.invalid">Log In</button>
      </form>
      <!----x-----x---->
    </div>
  </div>
</div>


