<section class="new-article">
  <div class="new-content">
    <form>
      <div class="form-element">
        <label for="title">Title</label>
        <input
          id="title"
          type="text"
          placeholder="Title of blog post"
        />
      </div>
      <div class="form-element">
        <label for="image">Image</label>
        <input
          id="image"
          type="text"
          placeholder="Image represents blog post"
        />
      </div>
      <div class="form-element">
        <label for="excerpt">Excerpt</label>
        <textarea id="excerpt" placeholder="Short description of blog post" rows="4"></textarea>
      </div>

    </form>
  </div>
</section>
