.blog-detail .content-area {
  padding: 0 25px;
  float: none;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.blog-detail .content-area .entry-title {
  max-width: 880px;
  background-color: transparent;
  margin: 0 auto;
  padding: 0px;
}

.blog-detail .content-area .entry-title h1 {
  color: #000;
  text-align: center;
  font-size: 3.5rem;
  line-height: 1.3;
  text-transform: none;
  font-weight: 700;
  margin: 50px 0 20px 0;
}

.blog-detail .content-area .entry-image {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.blog-detail .content-area .entry-image img {
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
  height: 580px;
}

.blog-detail .content-area .entry-content {
  max-width: 880px;
  padding: 40px 40px 80px 40px;
  background-color: transparent;
  margin: 0 auto;
  line-height: 2;
  font-size: 1.125rem;
}
