<section class="blog-detail">
  <div class="content-area">
    <div class="entry-title">
      <h1>
        {{ blogDetail[0]?.title }}
      </h1>
    </div>
    <div class="entry-date">
      <span
        ><i class="fa fa-calendar-alt"></i>
        {{ blogDetail[0]?.publishDate }}</span
      >
      <p style="margin: 7px 0;">Last updated: {{ blogDetail[0]?.lastModified }}</p>
    </div>
    <div class="entry-image">
      <img src="{{ blogDetail[0]?.urlImage }}" alt="hinh1" />
    </div>
    <div class="entry-content" [innerHTML]="blogDetail[0]?.content"></div>
  </div>
</section>
