<section class="edit-article">
  <div class="edit-content">
    <form (ngSubmit)="handleSubmitArticle(editForm)" [formGroup]="editForm">
      <div class="form-element">
        <label for="categoryId">Category</label>
        <input
          id="categoryId"
          type="text"
          placeholder=""
          formControlName="categoryId"
        />
      </div>
      <div class="form-element">
        <label for="title">Title</label>
        <input
          id="title"
          type="text"
          placeholder="Title of blog post"
          formControlName="title"
        />
      </div>
      <!-- validate title -->
      <div
        *ngIf="
          editForm.get('title').invalid &&
          (editForm.get('title').touched || editForm.get('title').dirty)
        "
      >
        <span class="error" *ngIf="editForm.get('title').errors.required"
          >*Title is required</span
        >
      </div>

      <div class="form-element">
        <label for="image">Image</label>
        <input
          id="image"
          type="text"
          placeholder="Image represents blog post. Paste image address here"
          formControlName="image"
        />
      </div>
      <!-- validate image -->
      <div
        *ngIf="
          editForm.get('image').invalid &&
          (editForm.get('image').touched || editForm.get('image').dirty)
        "
      >
        <span class="error" *ngIf="editForm.get('image').errors.required"
          >*URL is required</span
        >
        <span class="error" *ngIf="editForm.get('image').errors.pattern"
          >*URL format is wrong</span
        >
      </div>

      <div class="form-element">
        <label for="excerpt">Excerpt</label>
        <textarea
          id="excerpt"
          placeholder="Short description of blog post"
          rows="4"
          formControlName="excerpt"
        ></textarea>
      </div>
      <!-- validate excerpt -->
      <div
        *ngIf="
          editForm.get('excerpt').invalid &&
          (editForm.get('excerpt').touched || editForm.get('excerpt').dirty)
        "
      >
        <span class="error" *ngIf="editForm.get('excerpt').errors.required"
          >*Excerpt is required</span
        >
        <span class="error" *ngIf="editForm.get('excerpt').errors.minlength"
          >*Excerpt must be more than 100 characters</span
        >
      </div>
      <!-- ----X---X----- -->

      <!-- ckeditor -->
      <div class="form-element">
        <label style="display: block; margin-bottom: 0.6rem">Content</label>
        <ckeditor
          [editor]="Editor"
          data="<p>Hello, world!</p>"
          formControlName="content"
        ></ckeditor>
      </div>
      <!-- validate title -->
      <div
        *ngIf="
          editForm.get('content').invalid &&
          (editForm.get('content').touched || editForm.get('content').dirty)
        "
      >
        <span class="error" *ngIf="editForm.get('content').errors.required"
          >*Content is required</span
        >
      </div>

      <button class="btn" [disabled]="editForm.invalid">Edit</button>
    </form>
  </div>
</section>

