<div class="posts">
  <div *ngFor="let blog of blogList">
    <div class="post-content">
      <div class="post-image">
        <div>
          <!-- <img src="./assets/Blog-post/blog1.png" class="img" alt="blog1"> -->
          <img
            src="{{ blog.hinhAnh }}"
            alt=""
            width="892px"
            height="476px"
            style="object-fit: cover"
          />
        </div>
        <div class="post-info flex-row">
          <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
          <span
            ><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January
            14, 2019</span
          >
          <span>2 Commets</span>
        </div>
      </div>
      <div class="post-title">
        <a routerLink="/detail/{{blog.maPhim}}">
          {{ blog.tenPhim }}
        </a>
        <p>
          {{ blog.moTa }}
        </p>
        <button class="btn post-btn" routerLink="/detail/{{blog.maPhim}}">
          Read More &nbsp; <i class="fas fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="pagination flex-row">
    <a href="#"><i class="fas fa-chevron-left"></i></a>
    <a href="#" class="pages">1</a>
    <a href="#" class="pages">2</a>
    <a href="#" class="pages">3</a>
    <a href="#"><i class="fas fa-chevron-right"></i></a>
  </div>
</div>
