/* ---------------- Site Content ----------------*/

.post-content{
  width: 100%;
}

.posts .post-content > .post-image, .post-title{
  padding: 1.5rem 2rem;
  position: relative;
}

/* .posts .post-content > .post-image {
  width: 892px;
  height: 476px;
} */

.posts .post-content > .post-image .post-info{
  background: var(--sky);
  padding: 1rem;
  position: absolute;
  bottom: 0%;
  left: 20vw;
  border-radius: 3rem;
}

.posts .post-content > .post-image > div{
  overflow: hidden;
}

.posts .post-content > .post-image .post-info span{
  margin: 0 .5rem;
}

.post-content .post-title a{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.posts .post-content .post-title .post-btn{
  border-radius: 0;
  padding: .7rem 1.5rem;
  background: var(--sky);
}

.posts .pagination{
  justify-content: center;
  color: var(--text-gray);
  margin: 4rem 0;
}

.posts .pagination a{
  padding: .6rem .9rem;
  border-radius: 2rem;
  margin: 0 .3rem;
  font-family: var(--Lexend);
}

.posts .pagination .pages{
  background: var(--text-gray);
  color: var(--white);
}

/* -------x-------- Site Content --------x-------*/
