.site-content{
  display: grid;
  grid-template-columns: 70% 30%;
}


/* --------------- Sidebar ----------------------- */

.site-content > .sidebar .category-list{
  font-family: var(--Livvic);
}

.site-content > .sidebar .category-list .list-items{
  background: var(--sky);
  padding: .4rem 1rem;
  margin: .8rem 0;
  border-radius: 3rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.site-content > .sidebar .category-list .list-items a{
  color:  black;
}

.site-content .sidebar .newsletter{
  padding-top: 5rem;
}

.site-content .sidebar .newsletter .form-element{
  padding: .5rem 2rem;
}

.site-content .sidebar .newsletter .input-element{
  width: 80%;
  height: 1.9rem;
  padding: .3rem .5rem;
  font-family: var(--Lexend);
  font-size: 1rem;
}

.site-content .sidebar .newsletter .form-btn{
  border-radius: 0;
  padding: .8rem 32%;
  margin: 1rem 0;
  background: var(--sky);
}

.site-content .sidebar .popular-tags{
  padding: 5rem 0;
}

.site-content .sidebar .popular-tags .tags .tag{
  background: var(--sky);
  padding: .4rem 1rem;
  border-radius: 3rem;
  margin: .4rem .6rem;
}


/* -------x------- Sidebar -----------x----------- */
